<div class="container mt-5">
  <h2>Smart Wallet Dashboard</h2>

  <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
  <p class="success-message" *ngIf="successMessage">{{ successMessage }}</p>

  <div class="wallet-card" *ngIf="wallet">
    <h3>Welcome, {{ wallet.user.fullName }}</h3>

    <p class="user-email">Email: {{ wallet.user.email }}</p>

    <div class="balance-box">
      <span>Current Balance</span>
      <h4 class="balance">R{{ wallet.balance }}</h4>
    </div>

    <hr>

    <h4>Deposit Money</h4>

    <form (ngSubmit)="deposit()">
      <input
        type="number"
        [(ngModel)]="depositAmount"
        name="depositAmount"
        min="1"
        placeholder="Amount"
        required
      >

      <button type="submit">
        Deposit
      </button>
    </form>

    <hr>

    <h4>Withdraw Money</h4>

    <form (ngSubmit)="withdraw()">
      <input
        type="number"
        [(ngModel)]="withdrawAmount"
        name="withdrawAmount"
        min="1"
        placeholder="Amount"
        required
      >

      <button type="submit">
        Withdraw
      </button>
    </form>

    <hr>

    <h4>Transfer Money</h4>

    <form (ngSubmit)="transfer()">
      <input
        type="email"
        [(ngModel)]="receiverEmail"
        name="receiverEmail"
        placeholder="Receiver email"
        required
      >

      <input
        type="number"
        [(ngModel)]="transferAmount"
        name="transferAmount"
        min="1"
        placeholder="Amount"
        required
      >

      <button type="submit">
        Transfer
      </button>
    </form>
  </div>
</div>